@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif; }

a,
a:visited {
  text-decoration: none; }

ul {
  list-style-type: none; }

::selection {
  background: #1a1a1a;
  color: #15c6b0; }

body::-webkit-scrollbar {
  width: .75rem;
  background-color: #f3f3f3; }

body::-webkit-scrollbar-thumb {
  background-color: #1a1a1a;
  outline: 1px solid slategrey; }

button {
  border: none;
  font-family: inherit; }

@keyframes radial-clip-open {
  0% {
    clip-path: circle(0% at 50% 50%); }
  100% {
    clip-path: circle(100% at 50% 50%); } }

@keyframes slide-in-dropdown {
  0% {
    transform: translateY(-5rem); }
  100% {
    transform: translateY(0rem); } }

@keyframes slide-out-dropdown {
  0% {
    transform: translateY(0rem); }
  100% {
    transform: translateY(-5rem); } }

@keyframes shaky {
  10% {
    transform: skewX(-15deg); }
  20% {
    transform: skewX(15deg); }
  30% {
    transform: skewX(-7deg); }
  40% {
    transform: skewX(7deg); }
  50% {
    transform: skewX(0deg); }
  100% {
    transform: skewX(0deg); } }

.nav {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 2; }
  .nav__links {
    display: flex;
    justify-content: flex-end; }
  .nav__item:not(:last-of-type) {
    margin-right: 3rem; }
  .nav__link {
    font-size: 4vw;
    color: #f3f3f3;
    transition: .1s ease all; }
    .nav__link:hover {
      cursor: pointer;
      text-decoration: line-through;
      color: #1a1a1a; }

.landing {
  position: relative;
  width: 100%;
  height: 100vh; }
  .landing__radial-clip {
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: #f3f3f3;
    clip-path: inset(0 50% 0 50%);
    animation: radial-clip-open 1s ease .75s;
    animation-fill-mode: both; }
  .landing__p5 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    position: relative; }
    .landing__p5 #p5-container {
      position: relative;
      width: 100%;
      height: 100%;
      opacity: .75; }
    .landing__p5--gradient {
      position: absolute;
      top: 90vh;
      left: 0;
      height: 10vh;
      width: 100%;
      z-index: 2;
      background-image: linear-gradient(rgba(0, 0, 0, 0), black); }
  .landing__hello {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .landing__textbox {
    margin-top: 3rem;
    padding: 1rem;
    height: auto;
    width: 50vw;
    background-color: rgba(26, 26, 26, 0.75);
    border-radius: 3px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2); }
  .landing__h1 {
    font-size: 5rem;
    color: #15c6b0;
    font-weight: 400; }
  .landing__h2 {
    color: #f3f3f3;
    font-size: 2rem;
    font-weight: 400; }
    .landing__h2--blue {
      color: #15c6b0; }
  .landing__h3 {
    color: #f3f3f3;
    font-weight: 300;
    font-size: 1.6rem; }

.about {
  background-image: linear-gradient(rgba(26, 26, 26, 0.85), #f3f3f3);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .about__container {
    max-width: 67vw;
    background-color: #e6e6e6;
    box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.1); }
  .about__header {
    padding-top: 3rem;
    font-size: 5rem; }
  .about__body {
    padding: 3rem; }
  .about__paragraph {
    font-size: 1.6rem;
    hyphens: auto; }
    .about__paragraph:first-of-type {
      font-size: 3rem; }
    .about__paragraph:not(:last-child) {
      margin-bottom: 1rem; }
    .about__paragraph--shaky {
      display: inline-block;
      animation: shaky 2s ease-out infinite; }
  .about__link, .about__link:visited {
    text-decoration: underline;
    color: #15c6b0; }
  .about__img {
    float: right;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    margin: 2rem;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transition: 2s ease-in-out all; }
    .about__img:hover {
      transform: rotate(360deg);
      filter: hue-rotate(360deg); }

.works {
  min-height: 100vh;
  width: 100%;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .works__header {
    padding-top: 3rem;
    font-size: 5rem; }
  .works__categories {
    display: flex; }
  .works__category {
    transition: .2s linear all;
    font-size: 1.6rem; }
    .works__category:hover {
      cursor: pointer;
      color: #5a5a5a; }
  .works__projects-container {
    display: none; }
  .works__projects-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .works__album-container {
    display: none; }
  .works__misc-container {
    display: none; }

.gallery {
  background-color: #f3f3f3;
  display: flex; }
  .gallery__grid {
    display: grid;
    padding-bottom: 1.5rem;
    transition: .2s ease-out opacity; }
    .gallery__grid--albums {
      max-width: calc(100vh - 3rem);
      grid-gap: 1.25rem;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr); }
    .gallery__grid--misc {
      max-width: 90vw;
      grid-gap: 2rem;
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      grid-template-rows: min-content 1fr;
      grid-auto-flow: dense; }
    .gallery__grid:hover .gallery__item--zoomable:not(:hover) {
      opacity: .5; }
  .gallery__item {
    position: relative;
    align-self: start;
    transition: .2s ease-out all; }
    .gallery__item--zoomable:hover {
      transform: scale(1.75);
      z-index: 2; }
    .gallery__item--top-left {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1; }
    .gallery__item--top-right {
      grid-row: 1 / span 1;
      grid-column: 4 / span 1; }
    .gallery__item--center {
      grid-row: 2 / span 2;
      grid-column: 2 / span 2; }
    .gallery__item--bottom-left {
      grid-row: 4 / span 1;
      grid-column: 1 / span 1; }
    .gallery__item--bottom-right {
      grid-row: 4 / span 1;
      grid-column: 4 / span 1; }
    .gallery__item--square {
      grid-row: span 1;
      grid-column: span 1; }
      .gallery__item--square--center {
        align-self: center; }
    .gallery__item--flyer {
      grid-row: span 3;
      grid-column: span 2; }
    .gallery__item--wide {
      grid-column: span 2; }
      .gallery__item--wide--center {
        align-self: center; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
    .gallery__img--fill {
      height: 370px;
      object-fit: cover;
      overflow: hidden; }

.contact {
  background-image: linear-gradient(#f3f3f3, #b3b3b3);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.footer {
  height: auto;
  width: 100%;
  background-color: #1a1a1a; }
  .footer__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem; }
  .footer__nav-items {
    list-style-type: none; }
  .footer__nav-item {
    display: inline-block;
    margin-right: 2rem; }
  .footer__nav-link, .footer__nav-link:visited {
    font-size: 2rem;
    text-decoration: none;
    color: #f3f3f3;
    transition: .2s linear color; }
    .footer__nav-link:hover, .footer__nav-link:visited:hover {
      color: #15c6b0;
      text-decoration: line-through; }
  .footer__devtag {
    text-align: center;
    background-color: inherit; }
    .footer__devtag p {
      color: #747474; }
      .footer__devtag p:last-child {
        padding-bottom: 1rem; }

.card {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  min-width: 50rem;
  width: 67vw;
  margin: 0 5rem 2rem 3rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.2); }
  .card__title {
    margin-bottom: 1rem;
    font-size: 2.5rem; }
  .card__img-container {
    max-width: 67%;
    max-height: 40rem;
    overflow: hidden;
    margin-bottom: 1rem;
    border-radius: 3px; }
  .card__img {
    transition: .5s ease transform; }
    .card__img--aleph {
      background-size: cover;
      background-position: center;
      height: 40vh;
      width: 40vw;
      background-image: url("../assets/img/aleph-ui.png"); }
      .card__img--aleph:hover {
        transform: scale(1.02); }
    .card__img--droenbot {
      background-size: cover;
      background-position: center;
      height: 40vh;
      width: 40vw;
      background-image: url("../assets/img/droenbot.png"); }
      .card__img--droenbot:hover {
        transform: scale(1.2); }
    .card__img--bend {
      background-size: cover;
      background-position: center;
      transform-origin: 100% 0%;
      height: 40vh;
      width: 40vw;
      background-image: url("../assets/img/bend.png"); }
      .card__img--bend:hover {
        transform: scale(1.5); }
    .card__img--racket {
      background-size: cover;
      background-position: center;
      transform-origin: top;
      height: 40vh;
      width: 40vw;
      background-image: url("../assets/img/racket.jpg"); }
      .card__img--racket:hover {
        transform: scale(1.6); }
  .card__body {
    font-size: 1.4rem;
    max-width: 67%; }
    .card__body:not(:last-of-type) {
      margin-bottom: 1rem; }
  .card__list {
    font-size: 1.2rem;
    list-style: square;
    text-align: left;
    margin-bottom: 1rem; }
  .card__btn-container {
    display: flex; }

.dropdown {
  display: inline-block;
  margin: 1rem; }
  .dropdown__flex-container {
    display: flex; }
  .dropdown__header {
    background-color: #f3f3f3;
    z-index: 1;
    position: relative; }
  .dropdown__container {
    position: relative;
    z-index: 0;
    visibility: hidden;
    background-color: #dadada;
    width: 100%;
    box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.1); }
  .dropdown__item {
    text-align: center;
    font-size: 1.2rem;
    padding: .7rem;
    transition: .2s linear all; }
    .dropdown__item:hover {
      cursor: pointer;
      background-color: #b3b3b3; }
    .dropdown__item:focus, .dropdown__item:active {
      background-color: #b3b3b3; }
  .dropdown__link, .dropdown__link:visited {
    color: #1a1a1a;
    text-decoration: none;
    transition: .2s linear all; }
  .dropdown__fadeOut {
    opacity: 0;
    visibility: hidden;
    transition: .1s ease-out all; }
  .dropdown__fadeIn {
    opacity: 1;
    visibility: visible;
    transition: .3s ease-in all; }
  .dropdown__slide-in {
    animation: slide-in-dropdown .2s ease-out forwards; }
  .dropdown__slide-out {
    animation: slide-out-dropdown .2s ease-out forwards; }

.website {
  text-align: center;
  background-color: #e6e6e6;
  padding: 2rem;
  border-radius: 3px;
  margin-bottom: 5rem;
  max-width: 67vw;
  box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.1); }
  .website__title {
    font-size: 3.5rem; }
  .website__gallery {
    padding: 3rem;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center; }
  .website__img {
    transition: .2s ease-in-out all;
    height: 12vw; }
    .website__img:hover {
      transform: scale(1.25); }
  .website__body {
    font-size: 1.6rem; }
  .website__dev {
    margin-bottom: 2rem; }

.button {
  display: inline-block; }
  .button:not(:last-child) {
    margin-right: 1rem; }
  .button:hover div {
    color: #dadada; }
  .button__body {
    padding: 1rem 2rem;
    background-color: #15c6b0;
    border-radius: 3px;
    transition: .1s ease-out all;
    text-align: center; }
    .button__body:hover {
      cursor: pointer;
      background-color: #13af9c;
      transform: translateY(-2px);
      box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.1); }
    .button__body:hover p {
      color: #f3f3f3; }
    .button__body:active {
      transform: translateY(1px);
      background-color: #3dead5;
      box-shadow: 0 0.2rem 0.125rem rgba(0, 0, 0, 0.1); }
  .button__link, .button__link:visited {
    text-decoration: none;
    color: #1a1a1a; }

.form__container {
  background-color: rgba(243, 243, 243, 0.25);
  padding: 1rem 3rem 3rem 3rem;
  border-radius: 3px;
  box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.2); }

.form__title {
  font-size: 5rem;
  margin-bottom: 1rem; }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form__input {
  font-size: 2rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: #f3f3f3;
  border: none;
  border-bottom: 3px solid transparent;
  width: 67vw;
  display: block;
  transition: .2s linear all; }
  .form__input:focus {
    outline: none;
    box-shadow: 1rem 2rem 0.1 rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #15c6b0; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ba1a35; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 2rem;
  font-weight: 700;
  margin-top: .7rem;
  transition: .5s linear all;
  display: block; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem); }

.form__radio-group {
  width: 49%;
  padding-left: 3rem; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 3rem; }

.form__radio-button {
  height: 2.5rem;
  width: 2.5rem;
  border: 0.3rem solid #15c6b0;
  border-radius: 1px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.6rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: .5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f3f3f3;
    opacity: 0;
    transition: .1s linear opacity; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }
