@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif; }

a,
a:visited {
  text-decoration: none; }

ul {
  list-style-type: none; }

::selection {
  background: #1a1a1a;
  color: #15c6b0; }

body::-webkit-scrollbar {
  width: .75rem;
  background-color: #f3f3f3; }

body::-webkit-scrollbar-thumb {
  background-color: #1a1a1a;
  outline: 1px solid slategrey; }

@keyframes radial-clip-open {
  0% {
    clip-path: circle(0% at 50% 50%); }
  100% {
    clip-path: circle(100% at 50% 50%); } }

@keyframes slide-in-dropdown {
  0% {
    transform: translateY(5rem) rotateY(90deg); }
  100% {
    transform: translateY(0) rotateY(0deg); } }

@keyframes slide-out-dropdown {
  0% {
    transform: scale(1) translateY(0rem) rotateY(0deg); }
  100% {
    transform: scale(0) translateY(5rem) rotateY(90deg); } }

.nav {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 2; }
  .nav__links {
    display: flex;
    justify-content: flex-end; }
  .nav__item:not(:last-of-type) {
    margin-right: 3rem; }
  .nav__link {
    font-size: 4vw;
    color: #f3f3f3;
    transition: .1s ease all; }
    .nav__link:hover {
      cursor: pointer;
      text-decoration: line-through;
      color: #1a1a1a; }

.landing {
  position: relative;
  width: 100%;
  height: 100vh; }
  .landing__radial-clip {
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: #f3f3f3;
    clip-path: inset(0 50% 0 50%);
    animation: radial-clip-open 1s ease .75s;
    animation-fill-mode: both; }
  .landing__p5 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    position: relative; }
    .landing__p5 #p5-container {
      position: relative;
      width: 100%;
      height: 100%;
      opacity: .75; }
  .landing__hello {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .landing__textbox {
    margin-top: 3rem;
    padding: 1rem;
    height: auto;
    width: 50vw;
    background-color: rgba(26, 26, 26, 0.75);
    border-radius: 3px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2); }
  .landing__h1 {
    font-size: 5rem;
    color: #15c6b0;
    font-weight: 400; }
  .landing__h2 {
    color: #f3f3f3;
    font-size: 2rem;
    font-weight: 400; }
    .landing__h2--blue {
      color: #15c6b0; }
  .landing__h3 {
    color: #f3f3f3;
    font-weight: 300;
    font-size: 1.6rem; }

.about {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .about__header {
    padding-top: 3rem;
    font-size: 5rem; }
  .about__body {
    padding: 3rem; }
  .about__paragraph {
    font-size: 1.6rem;
    hyphens: auto; }
  .about__img {
    float: right;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    margin: 2rem;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); }

.works {
  min-height: 100vh;
  width: 100%;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .works__header {
    padding-top: 3rem;
    font-size: 5rem; }
  .works__categories {
    display: flex; }
  .works__category {
    transition: .2s linear all;
    font-size: 1.6rem; }
    .works__category:hover {
      cursor: pointer;
      color: #5a5a5a; }
  .works__card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }

.card {
  background-color: #dadada;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  min-width: 50rem;
  max-width: 34%;
  margin: 0 5rem 0 3rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.2); }
  .card__title {
    margin-bottom: 1rem;
    font-size: 2rem; }
  .card__img {
    max-width: 67%;
    max-height: 23rem;
    object-fit: scale-down;
    margin-bottom: 1rem;
    border-radius: 3px; }
  .card__body {
    font-size: 1.4rem; }
    .card__body:not(:last-of-type) {
      margin-bottom: 1rem; }
  .card__list {
    font-size: 1.2rem;
    list-style: square;
    text-align: left; }

.dropdown {
  position: relative;
  display: inline-block;
  margin: 1rem; }
  .dropdown__flex-container {
    display: flex; }
  .dropdown__container {
    visibility: hidden;
    background-color: #dadada;
    width: 100%;
    box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.1); }
  .dropdown__item {
    text-align: center;
    font-size: 1.2rem;
    padding: .7rem;
    transition: .2s linear all; }
    .dropdown__item:hover {
      cursor: pointer;
      background-color: #b3b3b3; }
  .dropdown__link, .dropdown__link:visited {
    color: #1a1a1a;
    text-decoration: none;
    transition: .2s linear all; }
  .dropdown__fadeOut {
    opacity: 0;
    visibility: hidden;
    transition: .2s linear all; }
  .dropdown__fadeIn {
    opacity: 1;
    visibility: visible;
    transition: .2s linear all; }
  .dropdown__slide-in {
    animation: slide-in-dropdown .2s ease-in-out forwards; }
  .dropdown__slide-out {
    animation: slide-out-dropdown .5s ease-in-out forwards; }

.website {
  text-align: center;
  background-color: #e6e6e6;
  padding: 3rem;
  border-radius: 3px;
  box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.1); }
  .website__title {
    font-size: 3.5rem; }
  .website__gallery {
    display: flex; }
  .website__img {
    height: 100%;
    width: 25vw; }
  .website__body {
    font-size: 1.6rem; }
  .website__dev {
    margin-bottom: 2rem; }

.button {
  display: inline-block; }
  .button:not(:last-child) {
    margin-right: 1rem; }
  .button:hover div {
    color: #dadada; }
  .button__body {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #15c6b0;
    border-radius: 3px;
    transition: .1s linear all;
    text-align: center; }
    .button__body:hover {
      cursor: pointer;
      background-color: #13af9c;
      transform: translateY(-2px);
      box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.1); }
    .button__body:active {
      transform: translateY(1px);
      box-shadow: 0 0.2rem 0.125rem rgba(0, 0, 0, 0.1); }
  .button__link, .button__link:visited {
    text-decoration: none;
    color: #1a1a1a; }
