// COLORS
$color-primary-dark: #ba1a35;
$color-secondary: #15c6b0;
$color-nearblack: #1a1a1a;
$color-offwhite: #f3f3f3;

// MEASUREMENTS
$headshot-size: 20rem;
$margin-border: 2rem;
$margin-top: 3rem;
$border-radius: 3px;

// FONT SIZES
$font-h1: 5rem;
$font-h2: 3.5rem;
$font-h3: 2rem;
$font-paragraph: 1.6rem;
$font-small: 1.2rem;
$font-tiny: 1rem;

// MEDIA QUERY SIZES
$phone: 37.5em; // 600px
$tablet-portrait: 56.25em; // 900px
$tablet-landscape: 75em; // 1200px
$large-desktop: 112.5em; // 1800+