// COLORS
$color-primary: #ba1a35;
$color-secondary: #15c6b0;
$color-offwhite: #f3f3f3;
$color-darkgrey: rgba(26, 26, 26, 0.85);
$color-nearblack: #1a1a1a;

// MEASUREMENTS
$headshot-size: 20rem;
$margin-border: 2rem;
$margin-top: 3rem;
$border-radius: 3px;

// FONT SIZES
$font-h1: 5rem;
$font-h2: 3.5rem;
$font-h3: 2rem;
$font-paragraph: 1.6rem;
$font-small: 1.2rem;
$font-tiny: 1rem;

// MEDIA QUERY SIZES
$phone: 600px;
$tablet-portrait: 768px;
$tablet-landscape: 900px;
$large-desktop: 1800px; 