.about {
    background-image: linear-gradient(rgba($color-nearblack, .85), $color-offwhite);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__container {
        max-width: 67vw;
        background-color: darken($color-offwhite, 5%);
        @include shadow(0, .2rem, .25rem, 0.1);
    }

    &__header {
        padding-top: $margin-top;
        font-size: $font-h1;
    }

    &__body {
        padding: 3rem;
    }

    &__paragraph {
        font-size: $font-paragraph;
        hyphens: auto;

        &:first-of-type {
            font-size: 3rem;
        }

        &:not(:last-child){
            margin-bottom: 1rem;
        }

        &--shaky {
            display: inline-block;
            animation: shaky 2s ease-out infinite;
        }
    }

    &__link, 
    &__link:visited {
        text-decoration: underline;
        color: $color-secondary;
    }

    &__img {
        float: right;
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        margin: 2rem;

        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transition: 2s ease-in-out all;

        &:hover {
            transform: rotate(360deg);
            // filter: invert(100%);
            filter: hue-rotate(360deg);
        }
    }
}