.landing {
	position: relative;
	width: 100vw;
	height: 100vh;

	&__p5 {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		overflow: hidden;
		position: relative;

		#p5-container {
			position: relative;
			width: 100%;
			height: 100%;
		}

	}

}