.nav {
	position: absolute;
	top: $margin-border;
	right: $margin-border;
	z-index: 2;

	&__links {
		display: flex;
		justify-content: flex-end;
	}

	// refers to li's
	&__item {

		&:not(:last-of-type){
			margin-right: 3rem;
		}
	}

	// refers to anchor tags
	&__link {
		font-size: calc(24px + 2.5vw);
		color: $color-offwhite;
		transition: .1s ease all;

		&:hover {
			cursor: pointer;
			text-decoration: line-through;
			color: $color-nearblack;
		}
	}

}