.works {
    min-height: 100vh;
    width: 100%;
    background-color: $color-offwhite;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        padding-top: $margin-top;
        font-size: $font-h1;
    }

    &__categories {
        display: flex;
    }

    &__category {
        transition: .2s linear all;
        font-size: $font-paragraph;

        &:hover {
            cursor: pointer;
            color: lighten($color-nearblack, 25%);
        }
    }

    &__card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__website-container {

    }
}