.card {
    background-color: darken($color-offwhite, 5%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
    flex-basis: 50%;
    margin: 0 5rem 2rem 3rem;
    text-align: center;
    border-radius: $border-radius;
    @include shadow(0, .2rem, .25rem, 0.2);

    &__title {
        margin-bottom: 1.5rem;
        font-size: 3rem;
    }

    &__img-container {
        width: 35vw;
        height: 25vw;
        overflow: hidden;
        margin-bottom: 1rem;
        border-radius: $border-radius;
    }

    &__img {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        transition: .5s ease transform;

        &--aleph {
            background-image: url("../assets/img/aleph-ui.png");

            &:hover {
                transform: scale(1.02);
            }
        }

        &--droenbot {
            background-image: url("../assets/img/droenbot.png");

            &:hover {
                transform: scale(1.4);
            }
        }

        &--bend {
            transform-origin: 100% 0%;
            background-image: url("../assets/img/bend.png");

            &:hover {
                transform: scale(1.6);
            }
        }

        &--racket {
            transform: scale(1.2);
            transform-origin: top;
            background-image: url("../assets/img/racket.jpg");

            &:hover {
                transform: scale(1.35);
            }
        }
    }

    &__body {
        font-size: 1.4rem;
        max-width: 35vw; 

        &:not(:last-of-type){
            margin-bottom: 1rem;
        }        
    }

    &__list {
        font-size: 1.2rem;
        list-style: square;
        text-align: left;
        margin-bottom: 1rem;
    }

    &__list-item {

    }

    &__btn-container {
        display: flex;
    }

    @include responsive($tablet-portrait){
        width: 80vw;
    }
}