.dropdown {
    visibility: hidden;

    &__container {
        background-color: darken($color-offwhite, 10%);
        max-width: 50%;
    }

    &__item {
        text-align: center;
        font-size: 1rem;
        padding: 1rem;
        transition: .2s linear all;

        &:hover {
            cursor: pointer;
            background-color: darken($color-offwhite, 25%);
        }
    }

    &__link,
    &__link:visited {
        color: $color-nearblack;
        text-decoration: none;
        transition: .2s linear all;
    }

    &__fadeOut {
        opacity: 0;
        visibility: hidden;
        transition: .2s linear all;
    }

    &__fadeIn {
        opacity: 1;
        visibility: visible;
        transition: .2s linear all;
    }
}