.dropdown {
    display: inline-block;
    margin: 1rem;
    
    &__flex-container {
        display: flex;
    }

    &__header {
        background-color: $color-offwhite;
        z-index: 1;
        position: relative;
    }

    &__container {
        position: relative;
        z-index: 0;
        visibility: hidden;
        background-color: darken($color-offwhite, 10%);
        width: 100%;
        @include shadow(0, .2rem, .25rem, 0.1);
    }

    &__item {
        text-align: center;
        font-size: $font-small;
        padding: .7rem;
        transition: .2s linear all;

        &:hover {
            cursor: pointer;
            background-color: darken($color-offwhite, 25%);
        }

        &:focus, 
        &:active {
            background-color: darken($color-offwhite, 25%);
        }
    }

    &__link,
    &__link:visited {
        color: $color-nearblack;
        text-decoration: none;
        transition: .2s linear all;
    }

    &__fadeOut {
        opacity: 0;
        visibility: hidden;
        transition: .1s ease-out all;
    }

    &__fadeIn {
        opacity: 1;
        visibility: visible;
        transition: .3s ease-in all;
    }

    &__slide-in {
        animation: slide-in-dropdown .2s ease-out forwards;
    }

    &__slide-out {
        animation: slide-out-dropdown .2s ease-out forwards;
    }

    @include responsive($tablet-landscape){
        &__header {
            font-size: 2rem;
        }

        &__link {
            font-size: 1.8rem;
        }
    }

    @include responsive($phone){
        &__header {
            font-size: 3rem;
        }

        &__link {
            font-size: 3rem;
        }
    }
}