.website {
    text-align: center; 
    background-color: darken($color-offwhite, 5%);
    padding: 2rem;
    border-radius: $border-radius;
    margin-bottom: 5rem;
    max-width: 67vw;
    @include shadow(0, .2rem, .25rem, 0.1);
    
    &__title{
        font-size: $font-h2;
    }

    &__gallery {
        padding: 3rem;

        display: grid;
        grid-template-rows: 1;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
    }

    &__img {
        transition: .2s ease-in-out all;
        height: 12vw;

        &:hover {
            transform: scale(1.25);
        }
    }

    &__body {
        font-size: $font-paragraph;
    }

    &__dev {
        margin-bottom: 2rem;
    }
}