@keyframes radial-clip-open {
	0% {
		clip-path: circle(0.0% at 50% 50%);
	}

	100% {
		clip-path: circle(100.0% at 50% 50%);
	}
}

@keyframes slide-in-dropdown {
	0% {
		transform: translateY(-5rem);
	}

	100% {
		transform: translateY(0rem);
	}
}

@keyframes slide-out-dropdown {
	0% {
		transform: translateY(0rem);
	}

	100% {
		transform: translateY(-5rem);
	}
}