@keyframes radial-clip-open {
	0% {
		clip-path: circle(0.0% at 50% 50%);
	}

	100% {
		clip-path: circle(100.0% at 50% 50%);
	}
}

@keyframes slide-in-dropdown {
	0% {
		transform: translateY(-5rem);
	}

	100% {
		transform: translateY(0rem);
	}
}

@keyframes slide-out-dropdown {
	0% {
		transform: translateY(0rem);
	}

	100% {
		transform: translateY(-5rem);
	}
}

@keyframes shaky {
	10% { transform: skewX(-15deg); }
	20% { transform: skewX(15deg); }
	30% { transform: skewX(-7deg); }
	40% { transform: skewX(7deg); }
	50% { transform: skewX(0deg); }
	100% { transform: skewX(0deg); }  
}